// Главный ф-л SCSS. Импортируеться в index.js

@import './abstracts/_variables';
@import './abstracts/mixins/_fonts-mixins';
@import './base_settings/_fonts';



body {
    font-family: 'Mark Pro';
}

.box {
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    border: $border;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.box__title {
    text-align: center;
    color: lightgreen;
}

.text-center {
    text-align: center;
    font-weight: 600;
    @include adaptiv-font(24, 14)
}


figure {
    width: 200px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 100px;
        height: 100px;
    }
}