{
    "parser": "babel-eslint",
    "rules": {
        // "semi": ["error", "always"],
        // "quotes": ["error", "single"]
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": ["airbnb/base", "eslint:recommended"],
    "settings": {
        "import/resolver": "webpack"
    }
}
